/* slick */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/* abel font */
@import url('https://fonts.googleapis.com/css?family=Abel');

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/*smoke animation*/
body {
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes masked-animation {
  0% {
    background-position: left bottom;
  }
  100% {
    background-position: right bottom;
  }
}

.blink_me {
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.3;
  }
}

#wrap {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

#viewport {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#viewport .smoke {
  position: absolute;
  width: 250px;
  height: 250px;
  background: url('http://res.cloudinary.com/da51wkm4r/image/upload/v1461143297/title/smoke.png') no-repeat;
}

@-webkit-keyframes masked-animation {
  0% {
    background-position: left bottom;
  }
  100% {
    background-position: right bottom;
  }
}


/* experience blocks */
.experienceBlocks{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 55px;
  margin-bottom: 15px;
  position: relative;
  width: 301px;
  color: white;
  font-family: 'Abel';
  z-index: 10;
}

.experienceBlocks a {
  width: 100%;
  padding-bottom: 5px;
}

.experienceBlocks img{
  height: 100%;
}

.experienceBlocks p{
  font-weight: 500;
  font-size: 20px;
  margin: 0;
  text-shadow: 2px 2px #000000;
}

.experienceBlocks h3 {
  font-size: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
  font-weight: 500;
  text-shadow: 2px 2px #000000;
  text-transform: uppercase;
}


.image1 {
  position: relative;
  height: 301px;
  width: 100%;
  overflow: hidden;
  border: 1.5px solid #0066ff;
  margin-bottom: 15px;
}

.image1 span{
  position: absolute;
  width: 100%;
  height: 100%;
}

.image1 span:nth-child(1) {
  transform:rotate(0deg);
  left: -50%;
}

.image1 span:nth-child(2) {
  transform:rotate(90deg);
  top: -50%;
  left: 0%;
}

.image1 span:nth-child(3) {
  transform:rotate(180deg);
  left: 50%;
}

.image1 span:nth-child(4) {
  transform:rotate(270deg);
  top: 50%;
  left: 0%;
}

.image1 span:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: #4C94FF;
  animation: animate 12s linear infinite;
}


@keyframes animate {
  0% {
  transform:scaleX(0);
  transform-origin: left;
  }

  50% {
  transform:scaleX(1);
  transform-origin: left;
  }

  50.1% {
  transform:scaleX(1);
  transform-origin: right;
  }
  
  100% {
  transform:scaleX(0);
  transform-origin: right;
  }  
} 


/* slick */
.slick-dots li button:before {
  color: white;
}

.slick-dots li.slick-active button:before {
  color: white;
}

.slick-dots {
  bottom: -40px;
}


/* media queries */
@media only screen and (max-width: 600px) {
  .experienceBlocks{
    width: 251px;
    margin-top: 45px;
    margin-bottom: 10px;
  }

  .image1 {
    height: 251px;
  }

  .experienceBlocks h3 {
    font-size: 22px;
    padding-bottom: 0px;
  }
  .experienceBlocks p {
    font-size: 14px;
  }

  .experienceBlocks a {
    width: 100%;
    border: 1px solid #0066ff;
    border-radius: 8px;
    padding-bottom: 5px;
    margin-top: 5px;
  }
}
